<div class="background-image">
  <div class="overlay"></div>
  <div class="content">
    <div class="text-white centered text-center w-10/12 mt-16 ">
      <div class="flex justify-center"> <img src="/assets/images/apple.svg"  class="w-20 bg-slate-100 "></div>
      <div class="text-xl lg:text-2xl leading-tight mt-5 mb-20">
        <h2 class="mb-0">All of your Academic questions</h2>
        <h2>can be answered step-by-step here.</h2>
      </div>
     <div class="centeredForm">
      <app-login-form></app-login-form>
     </div>
    </div>
  </div>
</div>
